{% load static %} {% block content %} {% load crispy_forms_tags %}
<body class="h-100">
<style>
      body {
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(rgba(0, 0, 0, 0.9)),
          to(transparent)
        );
        background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
      }

</style>
<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle
                    class="path"
                    cx="50"
                    cy="50"
                    r="20"
                    fill="none"
                    stroke-width="3"
                    stroke-miterlimit="10"
            />
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->

<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <a class="text-center"><h4>Forgot Password</h4></a>
                            <form class="mt-5 mb-5 login-input" method="POST">
                                {% csrf_token %} {{form | crispy}}
                                <button class="btn login-form__btn submit w-100">
                                    Reset Password
                                </button>
                            </form>
                            <p class="mt-5 login-form__footer">
                                Have account
                                <a
                                        href="{% url 'authentication:login' %}"
                                        class="text-primary"
                                >Sign In
                                </a>
                                now
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
