{% extends 'includes/base.html' %}
{% block title %} {{site_name}} | Policy {% endblock %}
{% block body %}
<hr>
<div class="container">
	<div class="card-header">

        <p>We look forward to serving you !</p>
    </div>
    <hr>
    <div class="card-header">
    Privacy Policy
    </div>
    <div class="card-body">
        <p>Our Privacy Policy
        This advertisement outlines the general information about our privacy policy that entails the collection,usage, 
        disclosure, and protection of our users’ personal information that is gathered on this website.</p>

        <p>This site, inclusive of all services offered hereon, is owned and operated by pythonassignment.com as well as its affiliates
        (collectively, “ We” or “pythonassignment.com”). All services offered through this website can be accessed from any mobile phone or
        computer by a user at one-on-one tutoring as provided by the site.</p>

        <p>pythonassignment.com is equally committed to protect and respect the confidentiality of all personal information
        gathered in the course of business which gives us no option but to take the necessary steps to ensure that the personal data is 
        stored in secure and safe databases that are only accessible by the authorized parties during the performance of their responsibilities.</p>

        <p>We recognize the importance of letting our clients understand our privacy policy concerning their data,which we keep changing over
        time to make our operations effective. Please note that in case we change our privacy policy, mostly due to particular changes in the law,
        business, or technology, all the revisions will be posted here. Upon posting them here, the revisions are deemed effective, and your 
        continued usage of this website will be subject to the changes in the terms of the privacy policy.</p>

        <p>Collection of your Personal Data
        We collect personal data from you when you use our site or when you provide us with it. Occasionally, we obtain your data from third parties.
        The personal information includes: Name, Telephone, Address, Demographic Information,IP Address, Access time and Browser types</p>

        <p>Please note that we are not liable for any personal identification information that is directly posted by our client in the 
        pythonassignment.com public message boards. Therefore, do not disclose any sensitive personaldata as it might be collected and used by other
        unauthorized parties.</p>

        <p>In case of payment transactions with us, please note that your payment details are not held by us but by a third-party payment processor, 
        which is specialized in secure online capture and handling of such vital and sensitive payment transactions.</p>

        <p>Use of your Personal Data
        The personal data collected by pythonassignment.com is strictly used for delivery of services requested by ourclients. We can also use
        your personal information to keep you up to date with the changes in ourservice delivery. pythonassignment.com can also contact you via
        surveys or research to offer your opinions that will enable our performance improvement.</p>

        <p>Kindly note that pythonassignment.com does not lease, rent or sell the lists of customers to third party vendors. We may contact you from time
        to time on behalf of third party partners about an offering that might interest you. In such a case, your data is not shared with the third 
        party.</p>

        <p>We do not disclose your data without your consent or notice, only if in good faith of a necessary legal action by the law and also to 
        defend and protect the rights of pythonassignment.com, its users and the public.</p>
    </div>
</div>
{% endblock %}
